.App {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}
.Sidebar {
  height: 100%;
  width: 250px;
  background-color: black;
}
.SidebarList .row {
  width: 100%;
  height: 100%;
}

.image {
  width: 200px;
}
.row {
  margin-left: 10px;
}
.rows {
  display: flex;
  margin-right: 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  cursor: pointer;
}
.row :hover {
  background-color: gray;
}

.row #icon {
  margin-right: 15px;
}
.powered {
  font-size: 15px;
  font-weight: 100;
  color: white;
}

.Navtopbar {
  background-color: white;
}

.Dashboard {
  background-color: "#EDEDED";
  height: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .Sidebar {
    height: 100%;
    width: 65px;
    background-color: black;
  }
  .row .rows {
    margin-top: 20px;
  }

  .image {
    display: none;
  }
  .Sidebar #title {
    display: none;
  }
  .powered {
    display: none;
  }

  .Navtopbar {
    height: 50px;
  }
  .Navtopbar .navBtn {
    font-size: 10px;
  }
  .Navtopbar .navName {
    font-size: 12px;
  }

  .Dashboard .btn {
    font-size: 10px;
  }
  .Dashboard .dropdown {
    font-size: 10px;
  }
  .Dashboard {
   
    height: 100%;
  
  }
 
}
